.about_block {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 90px 0;
  font-family: var(--font-p);
}
.about_img {
  height: 800px;
  width: 100%;
  background-image: url("./about_us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  width: 100%;
  font-family: var(--font-p);
}
.title {
  margin-bottom: 0px;
}
.btn_show_more {
  display: none;
}
.btn_show_more_not_visible {
  display: none;
}

@media (max-width: 700px) {
  .about_img {
    height: 500px;
  }

  .about_block {
    flex-direction: column;
    margin: 20px 0;
  }
  .visible_text {
    overflow: hidden;
    position: relative;
    height: 120px;
  }
  .visible_text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
  }
  .btn_show_more {
    display: block;
    justify-self: end;
    outline-style: none;
    border: none;
    background-color: inherit;
    text-decoration: underline;
  }
  .active {
    display: none;
  }
}
@media (max-width: 600px) {
  .about_img {
    height: 400px;
    width: 80%;
    align-self: center;
  }
}
