.header {
  // margin-top: 30px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: black;

  &_nav {
    position: relative;
    width: 1600px;
    display: flex;
    text-align: center;
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding-left: 10px;
  }
}

.header_line {
  display: flex;
  align-items: center;
}

.header_burger {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 60px;
  margin-left: 10px;

  &_title {
    font-size: 15px;
  }
  &_desc {
    font-size: 10px;
  }
}

@media (max-width: 670px) {
  .header {
    padding-top: 0;
    margin: 0;
    ul {
      height: 100vh;
      gap: 60px;
    }
  }
  .header_burger {
    position: absolute;
    top: 23px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    background-color: black;
    z-index: 1000;
    .burger_item {
      width: 28px;
      height: 3px;
      background-color: white;
    }
    .burger_cross {
      width: 26px;
      height: 26px;
    }
  }
  .header_burger:hover {
    opacity: 0.6;
    transition: ease 0.5s;
  }
  .header_nav {
    justify-content: center;
    width: 100%;
    
    ul {
      display: none;
    }
    .header_line {
      position: relative;
      height: 65px;
      width: 100%;
      background-color: black;
      
    }
    .active {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      padding: 50px;
      padding-top: 100px;
      background-color: black;
      width: 100%;
      z-index: 999;
    }
  }
  .header_item {
    font-size: 26px;
  }
}
