.courses_block {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  
  // margin-left: 50px;
  // margin: 50px 150px;
  // overflow: hidden;
}
.cards {
  width: 1200px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .cards {
    width: 900px;
  }
}
@media (max-width: 800px) {
  .cards {
    width: 700px;
  }
}

@media (max-width: 570px) {
  .cards {
    width: 300px;
    // margin: 0 50px;
  }
}
